<!DOCTYPE html>
<html lang="zh">
<head>
    <title>态势感知系统demo</title>
    <script src="../static/echarts/echarts.min.js"></script>
    <script src="../static/echarts/world.js"></script>
    <script src="../static/js/jquery-3.4.0.min.js"></script>
</head>

<body>
    <!-- 展示世界地图 -->
    <div id="world" >
        {{ Earthchart | safe }}
    </div>

    <div>
        {{ Piechart | safe }}
    </div>
        <!-- 展示ssh趋势 -->
    <div id="link">
        {{ Barchart | safe }}
    </div>

        <div id="link">
        {{ Linechart | safe }}
    </div>

</div>

<div>
    <!-- 展示进出口流量 -->
    <div id="stream">
        {{ Radarchart | safe }}
    </div>
</div>
</body>


</html>