echarts-china-cities-pypkg==0.0.9
echarts-china-counties-pypkg==0.0.2
echarts-china-misc-pypkg==0.0.1
echarts-china-provinces-pypkg==0.0.3
echarts-cities-pypkg==0.0.1
echarts-countries-pypkg==0.1.6
Flask==1.0.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.2
javascripthon==0.11
Jinja2==3.0.1
pyecharts==0.5.11
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
pyecharts-snapshot==0.1.10
pyfiglet==0.8.post1
Pygments==2.9.0
PyMySQL==1.0.2
scapy==2.4.2
SQLAlchemy==1.3.20
urllib3==1.25.11
websockets==9.1
Werkzeug==2.0.2

