body{
    /* set background tensile */
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    margin: 0;
    padding: 0;
}

#content{
    background-color: rgba(255, 255, 255, 0.95);
    width: 420px;
    height: 300px;
    border: 1px solid #000000;
    border-radius: 6px;
    padding: 10px;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.login-header{
    width: 100%;
    height: 48px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dcdcdc;
}

.login-header img{
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.login-input-box{
    margin-top: 12px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.login-input-box input{
    width: 340px;
    height: 32px;
    margin-left: 18px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    padding-left: 42px;
}

.login-input-box input:hover{
    border: 1px solid #128d75;
}

.login-input-box input:after{
    border: 1px solid #128d75;
}

.login-input-box .icon{
    width: 24px;
    height: 24px;
    margin: 6px 4px 6px 24px;
    background-color: #128d75;
    display: inline-block;
    position: absolute;
    border-right: 1px solid #dcdcdc;
}


.remember-box{
    width: auto;
    height: auto;
    margin-left: 18px;
    margin-top: 12px;
    font-size: 12px;
    color: #6a6765;
}

.login-button-box{
    margin-top: 12px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.login-button-box button{
    background-color: #128d75;
    color: #ffffff;
    font-size: 16px;
    width: 386px;
    height: 40px;
    margin-left: 18px;
    border: 1px solid #128d75;
    border-radius: 4px;
}

.login-button-box button:hover{
    background-color: #128d75;
}

.login-button-box button:active{
    background-color: #128d75;
}

.logon-box{
    margin-top: 20px;
    text-align: center;
}

.logon-box a{
    margin: 30px;
    color: #4a4744;
    font-size: 13px;
    text-decoration: none;
}

.logon-box a:hover{
    color: #128d75;
}

.logon-box a:active{
    color: #128d75;
}