<!DOCTYPE html>
<html lang="zh">
<head>
    <title>态势感知系统</title>
    <script src="static/echarts/echarts.min.js"></script>
    <script src="static/echarts/world.js"></script>
    <script src="static/js/jquery-3.4.0.min.js"></script>
        <link rel="stylesheet" href="static/css/reset.min.css">
    <link rel="stylesheet" href="static/css/style.css">
  </head>

<body style="background: #1b1f23">
{#下拉菜单#}
    <header>
        <button class="toggle-nav">
            <span>></span>
        </button>
        <ul class="nav">
            <li class="loud"><a href="/index">Home</a></li>
            <li class="loud"><a href="/ip_manage">IP Manage</a></li>
            <li class="loud"><a href="/get_raw_data">Raw Data</a></li>
            <li class="loud"><a href="/admin_info">Admin</a></li>
        </ul>
    </header>
    <script src='static/js/jquery.min.js'></script>
    <script src="static/js/script.js"></script>


<!-- 展示世界地图 -->
    <div id="world" style="position: absolute; width: 80%; height: 85vh; margin-left: 8%; margin-top: 5vh; ">
        {{ earthmapcharts | safe }}
    </div>

{#    展示apache分析图表#}

    <div style="position: absolute; width: 20%; height: 20vh; margin-left: 85%; margin-top: 5vh; z-index: 10;  ">
    <span style="color:#FFD700">----中间件分析统计----</span>
        {{ apachecharts | safe }}
    </div>
{#展示流量分析图表#}

    <div style="position: absolute; width: 20%; height: 20vh; margin-left: 85%; margin-top: 35vh; z-index: 10;  ">
     <span style="color:#FFD700">----流量分析统计----</span>
        {{ networkcharts | safe }}
    </div>

{#    进程监控#}
     <div id="service"
         style="position: absolute; width: 15%; height: 20vh; margin-left: 83%; z-index: 10; margin-top: 70vh; ">
        {{ processcharts | safe }}
    </div>
        <div style="position: absolute; width: 30%; height: 20vh; margin-left: 84%; z-index: 10; margin-top:65vh; ">
        <span style="color:#FFD700">----服务运行状态----</span>
            <br>
            <table style="width: auto; height: 100%;color:#00FFFF; font-size: 14px; font-family: monospace; "
               align="left">
                <tr><td>FTP</td></tr>
                <tr><td>SSH</td></tr>
                <tr><td>MySQL</td></tr>
                <tr><td>Apache</td></tr>
        </table>

    </div>

        <!-- 展示ssh图表 -->
        <div style="position: absolute; margin-left: 6%; margin-top: 18vh; z-index: 10; ">
       <span  style="color:#FFD700;font-size:35px"> {{ risk_index | safe }}</span>
    </div>
        <div style="position: absolute; width: 20%; height: 20vh; margin-right: 85%; margin-top: 5vh; z-index: 10;  ">
        <span style="color:#FFD700";margin-left: 10%;>------ssh分析统计及风险指数------</span>
         {{ sshcharts | safe }}
    </div>
 <!--展示事件-->
 <div id="display_box">
  <span style="color:#FFD700;margin-left: 10%;">-----------攻击事件显示-----------</span>
  <div style="width: 100%;color:#FFD700">
    <span style="display: inline-block;width: 40%">IP</span>
    <span style="display: inline-block;width: 40%;">类型</span>
    <span style="display: inline-block;width: 15%;">时间</span>
  </div>
</div>
<div id="table_box">
    <table>
      <tbody>
       {% for i in range(0,length) %}
          <tr style="color:#007979;height: 10px;">
              <td width="40%"><a style="color: #007979" id="ip" href="javascript:get_raw()">{{ ip_list[i] }}</a></td>
            <td width="40%">{{ type_list[i] }}</td>
            <td width="20%">{{ time_list[i] }}</td>
          </tr>
       {% endfor %}
      </tbody>
    </table>
</div>
    <style>
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 1px rgba(136, 136, 136, 0.3);
    background-color: rgb(238, 241, 245);
  }
  table {
    width: 100%;
    border: none;
    text-align: left;
    color: #FFD700;
    font-size: 14px;
    font-family: monospace;
  }
  #display_box {
    position: absolute;
    width: 20%;
    height: 20vh;
    margin-right: 85%;
    z-index: 10;
    margin-top: 35vh;
  }
  #table_box {
    position: absolute;
    width: 22%;
    height: 40vh;
    margin-left: 0vh;
    margin-top: 40vh;
    z-index: 10;
    overflow: scroll;
    overflow-x: hidden;
  }
</style>

<div style="position:relative;width: 100%; height: 100%">
    <!-- 展示进出口流量 -->
    <div id="stream"
         style="position: absolute; width: 96%; height: 20vh; margin-left: 4vh; margin-top: 75vh; z-index: 10;  ">
        {{ streamcharts | safe }}
    </div>
</div>

<script>
    function get_raw() {
        ip=document.getElementById("ip")
        ip.href="/get_raw_data?ip="+ip.textContent;
        {#alert(ip.href);#}
         window.location.href=ip.href;
}

</script>
</body>




</html>