<!DOCTYPE html>
<html lang="zh">
<head>
    <title>态势感知系统</title>
    <script src="static/echarts/echarts.min.js"></script>
    <script src="static/echarts/world.js"></script>
    <script src="static/js/jquery-3.4.0.min.js"></script>
</head>

<body style="background-color: #1b1f23">

    <!-- 展示世界地图 -->
    <div style="color:#FFD700;text-align:center;font-size:20px" >
        <span>全球攻击ip流向统计图</span>
    </div>
    <div id="world" style="position: absolute; width: 80%; height: 85vh; margin-left: 8%; margin-top: 5vh; ">
        {{ earthmapcharts | safe }}
    </div>

{#    展示apache分析图表#}

    <div style="position: absolute; width: 20%; height: 20vh; margin-left: 85%; margin-top: 5vh; z-index: 10;  ">
    <span style="color:#FFD700">----apache分析统计----</span>
        {{ apachecharts | safe }}
    </div>
{#展示流量分析图表#}

    <div style="position: absolute; width: 20%; height: 20vh; margin-left: 85%; margin-top: 35vh; z-index: 10;  ">
     <span style="color:#FFD700">----流量分析统计----</span>
        {{ networkcharts | safe }}
    </div>

{#    进程监控#}
     <div id="service"
         style="position: absolute; width: 15%; height: 20vh; margin-left: 83%; z-index: 10; margin-top: 70vh; ">
        {{ processcharts | safe }}
    </div>
        <div style="position: absolute; width: 30%; height: 20vh; margin-left: 84%; z-index: 10; margin-top:65vh; ">
        <span style="color:#FFD700">----服务运行状态----</span>
            <br>
            <table style="width: auto; height: 100%;color:#00FFFF; font-size: 14px; font-family: monospace; "
               align="left">
                <tr><td>FTP</td></tr>
                <tr><td>SSH</td></tr>
                <tr><td>MySQL</td></tr>
                <tr><td>Apache</td></tr>
        </table>

    </div>

        <!-- 展示ssh图表 -->
        <div style="position: absolute; margin-left: 6%; margin-top: 18vh; z-index: 10; ">
       <span  style="color:#FFD700;font-size:35px"> {{ risk_index | safe }}</span>
    </div>
        <div style="position: absolute; width: 20%; height: 20vh; margin-right: 85%; margin-top: 5vh; z-index: 10;  ">
        <span style="color:#FFD700";margin-left: 10%;>------ssh分析统计及风险指数------</span>
         {{ sshcharts | safe }}
    </div>

    <!--展示事件-->
    <div style="position: absolute; width: 20%; height: 20vh; margin-right: 85%; margin-top: 35vh; z-index: 10;  ">
        <span style="color:#FFD700";margin-left: 10%;>-----------攻击事件显示-----------</span></div>
    <div style="position: absolute; width: 22%; height: 40vh; margin-left: 0vh; margin-top: 40vh;  z-index: 10; overflow: scroll; overflow-x: hidden;">
          <table  style="width: 100%; border: none; text-align: left; color: #FFD700;font-size: 14px;  table-layout: fixed; font-family: monospace;"
               cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th style="width: 40%">IP</th>
                <th style="width: 40%">类型</th>
                <th style="width: 40%">时间</th>
            </tr>
            </thead>
              {% for i in range(0,length) %}
                  <tr>
                <td style="width: 40%;color:#007979">{{ ip_list[i] }}</td>
                  <td style="width: 40%;color:#007979">{{ type_list[i] }}</td>
                  <td style="width: 40%;color:#007979">{{ time_list[i] }}</td></tr>
                  <br>
            {% endfor %}
          </table>
    </div>
<div style="position:relative;width: 100%; height: 100%">
    <!-- 展示进出口流量 -->
    <div id="stream"
         style="position: absolute; width: 96%; height: 20vh; margin-left: 4vh; margin-top: 75vh; z-index: 10;  ">
        {{ streamcharts | safe }}
    </div>
</div>
</body>


</html>