<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>
        登录——态势感知系统
    </title>
    <link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="static/css/demo.css" />
    <!--必要样式-->
    <link rel="stylesheet" type="text/css" href="static/css/component.css" />
    <!--[if IE]>
        <script src="static/js/html5.js">
        </script>
    <![endif]-->
</head>
<body>
    <div class="container demo-1">
        <div class="content">
            <div id="large-header" class="large-header">
                <canvas id="demo-canvas"></canvas>
                <div class="logo_box">
                    <h3>
                        欢迎登陆
                    </h3>
                    <form id="f" action="{{ url_for('login') }}" method="post">
                    {{ login_info }}
                        <div class="input_outer">
                            <span class="u_user">
                            </span>
                            <input name="username" class="text" style="color: #FFFFFF !important" type="text"
                                   placeholder="请输入账户">
                        </div>
                        <div class="input_outer">
                            <span class="us_uer">
                            </span>
                            <input name="password" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;"
                                   value="" type="password" placeholder="请输入密码">
                        </div>
                        <div class="mb2">
                            <a class="act-but submit" href="javascript:document.getElementById('f').submit();" style="color: #FFFFFF">
                                登录
                            </a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="static/js/TweenLite.min.js">
    </script>
    <script src="static/js/EasePack.min.js">
    </script>
    <script src="static/js/rAF.js">
    </script>
    <script src="static/js/demo-1.js">
    </script>
    <div style="text-align:center;">
    </div>
</body>

</html>