<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录——态势感知系统</title>
    <link rel="stylesheet" href="static/css/index.css">
    <script type="text/javascript" src="static/js/jquery.js"></script>
</head>
<body>
<script>

    $(document).ready(function () {
        var whei = $(window).width()
        $("html").css({ fontSize: whei / 24 });
        $(window).resize(function () {
            var whei = $(window).width();
            $("html").css({ fontSize: whei / 24 })
        });
    });
</script>
<div class="main">

    <div class="header">
        <div class="header-center fl">
            <div class="header-title">
                态势感知系统
            </div>
            <div class="header-img"></div>
        </div>
        <div class="header-bottom fl"></div>

    </div>

    <div class="content">
        <div class="content-left">
        </div>
        <div class="content-right">
            <div class="right-infp">
                <form action="{{ url_for('login') }}" method="post">
                    {{ login_info }}
                <div class="right-infp-name">
                    <input type="text" name="username" placeholder="请输入用户名" maxlength="12" required="" value="" autocomplete="off">
                </div>
                <div class="right-infp-name">
                    <input type="text" name="password" placeholder="请输入密码" autocomplete="off">
                </div>

                <div class="right-infp-btn">
                    <button class="btn">登录</button>
                </div>
                </form>
            </div>
        </div>
    </div>


</div>


</body>
</html>