<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>
        登录——态势感知系统
    </title>
    <link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="static/css/demo.css" />
    <!--必要样式-->
    <link rel="stylesheet" type="text/css" href="static/css/component.css" />
    <!--[if IE]>
        <script src="static/js/html5.js">
        </script>
    <![endif]-->
</head>
<body>
    <div class="container demo-1">
        <div class="content">
            <div id="large-header" class="large-header">
                <canvas id="demo-canvas"></canvas>
            </div>
        </div>
    </div>
    <script src="static/js/TweenLite.min.js">
    </script>
    <script src="static/js/EasePack.min.js">
    </script>
    <script src="static/js/rAF.js">
    </script>
    <script src="static/js/demo-1.js">
    </script>
    <div style="text-align:center;">
    </div>
</body>

</html>