<!DOCTYPE html>
<html lang="zh">
<head>
    <title>态势感知系统</title>
    <script src="static/echarts/echarts.min.js"></script>
    <script src="static/echarts/world.js"></script>
    <script src="static/js/jquery-3.4.0.min.js"></script>
        <link rel="stylesheet" href="static/css/reset.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/admininfo.css">
  </head>

<body style="background: #1b1f23">
{#下拉菜单#}
    <header>
        <button class="toggle-nav">
            <span>></span>
        </button>
        <ul class="nav">
            <li class="loud"><a href="/index">Home</a></li>
            <li class="loud"><a href="/ip_manage">IP Manage</a></li>
            <li class="loud"><a href="/get_raw_data">Raw Data</a></li>
            <li class="loud"><a href="/admin_info">Admin</a></li>
        </ul>
    </header>
    <script src='static/js/jquery.min.js'></script>
    <script src="static/js/script.js"></script>

<div id="content">
    <form action="{{ url_for('admin_info') }}" method="post">
        <div class="login-input-box">
            <span class="icon icon-user"></span>
            <input type="text" placeholder="请输入用户名" name="username">
        </div>
        <div class="login-input-box">
            <span class="icon icon-password"></span>
            <input type="password" placeholder="请输入原密码" name="password">
        </div>
        <div class="login-input-box">
            <span class="icon icon-password"></span>
          <input type="password" name="newpassword" placeholder="请输入新密码">
            </div>
   <br>
                <div class="login-input-box">
            <span class="icon icon-password"></span>
    <input type="password" name="renewpassword" placeholder="确认新密码">
                </div>
            {% if info!="修改成功" %}
    {{ info }}
    {% else %}
        <script>alert("修改成功，请重新登录");
        window.location.replace("login");
        </script>
    {% endif %}
      <br>
         <div class="login-button-box">
    <button type="submit">提交</button>
         </div>
    </form>
</div>
</div>
</body>
</html>